* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: #0431B4;
  background-size: 100vh;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  color: #ffffff;
  font-weight: bold;
}

.page-title {
  color: black;
  background-color: white;
  margin: 0;
}

.page-subtitle {
  color: black;
  background-color: white;
  margin-top: 0 5px;
}

.box {
  padding-top: 10%;
}

#bts {
  margin-top: 4%;
}

.result0 {
  margin-top: 4%;
  font-size: 20px;
  font-weight: bold;
  color: grayscale;
  margin-top: 2em;
}

.result1 {
  margin-top: 4%;
  font-size: 20px;
  font-weight: bold;
  color: grayscale;
  margin-top: 0.5em;
}

.result2 {
  margin-top: 4%;
  font-size: 20px;
  font-weight: bold;
  color: grayscale;
  margin-top: 0.5em;
}

.result3 {
  margin-top: 4%;
  font-size: 20px;
  font-weight: bold;
  color: grayscale;
  margin-top: 0.5em;
}

.result4 {
  margin-top: 4%;
  font-size: 20px;
  font-weight: bold;
  color: grayscale;
  margin-top: 0.5em;
}

#valorFi {
  text-align: center;
  width: 6em;
  border-radius: 10%;
}

#taxaJuro {
  text-align: center;
  width: 4em;
  border-radius: 10%;
}

label {
  color: white;
  font-weight: bold;
}

footer {
  color: white;
  text-align: center;
  padding-bottom: 1em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  background-color: yellowgreen;
  padding: 0em 1em 0em 1em;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"] {
  color: red;
}

input[type="button"]:hover {
  background-color: graytext;
  color: white;
}

input[type="button"] {
  height: 3em;
  width: 4em;
  border-radius: 1em 1em 1em 1em;
}

